<div class="me" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>Profil utilisateur</mat-card-title>
    </mat-card-header>
    <form class="register-form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-card-content fxLayout="column">
        <mat-form-field fxFlex>
          <input
            matInput
            placeholder="Nom d'utilisateur"
            formControlName="name"
          />
        </mat-form-field>
        <mat-form-field fxFlex>
          <input
            matInput
            placeholder="Adresse e-mail"
            formControlName="email"
          />
        </mat-form-field>
        <mat-form-field fxFlex>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Mot de passe"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Masquer'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Sauvegarder
      </button>
      <span *ngIf="onError" class="error">Une erreur s'est produite</span>
    </form>
    <div (click)="logout()" class="link">Se déconnecter</div>
  </mat-card>
</div>
<hr />
<h1>Abonnements</h1>
<div class="list" fxLayout="row wrap" fxLayout.lt-md="column">
  <div
    class="full-width"
    *ngFor="let topic of userSubscriptions"
    fxFlex="49"
    fxFlex.lt-md="98"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ topic.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ topic.description }}
        </p>
      </mat-card-content>
      <button
        mat-raised-button
        color="primary"
        (click)="unsubscribeTopic(topic)"
      >
        Se désabonner
      </button>
    </mat-card>
  </div>
</div>
